<!doctype html>
<html lang="en">
<head>
  <title>Sidebar 09</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
      </button>
    </div>
    <div class="img bg-wrap text-center py-4" [ngStyle]="{'background-image': getUrl()}">
      <div class="user-logo">
        <div class="img" style="background-image: url(https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-9/p720x720/88316801_2746828752104008_7082451159012605952_o.jpg?_nc_cat=106&_nc_sid=110474&_nc_ohc=rtwwcsuKLToAX9kR3Nj&_nc_ht=scontent.fdad3-1.fna&_nc_tp=6&oh=79bb5d8d46ffac97ea1f035f3632ae94&oe=5F3A33B7);"></div>
        <h3>Anh Đức - Java FullStack</h3>
      </div>
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#" [routerLink]="['/']"><span class="fa fa-home mr-3" ></span> Home</a>
      </li>
<!--      <li>-->
<!--        <a href="#"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Download</a>-->
<!--      </li>-->
      <li>
        <a href="#"  [routerLink]="['/employee']"><span class="fa fa-gift mr-3"></span> Quản Lí Nhân Viên</a>
      </li>
      <li>
        <a href="#" [routerLink]="['/service']"><span class="fa fa-trophy mr-3" ></span> Quản lí Dịch Vụ</a>
      </li>
      <li>
        <a href="#" [routerLink]="['/']"><span class="fa fa-address-card mr-3" ></span> Quản Lí Khách hàng</a>
      </li>
      <li>
        <a href="#"  [routerLink]="['/contract']"><span class="fa fa-cog mr-3"></span > Quản Lí Hợp Đồng </a>
      </li>
      <li>
        <a href="#" [routerLink]="['/contractdetail']"><span class="fa fa-cog mr-3"></span> Quản Lí Hợp Đồng Chi Tiết</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content  -->
  <div id="content" >
<!--    <app-table-customer></app-table-customer>-->
    <router-outlet></router-outlet>
  </div>
</div>

</body>
</html>
