<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit province</title>
</head>
<body>
<h1>Edit province</h1>
<p>
    <a href="/customers">Province list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-customer/__${customer.id}__}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Customer"></td>
        </tr>
    </table>
</form>
</body>
</html>