<!--<div class="d-flex">-->
<!--<input class="form-control col-md-1" value="Name" disabled>-->
<!--<input class="form-control col-md-3" placeholder="text"></div>-->
<!--&lt;!&ndash; app.component.html &ndash;&gt;-->

<!--<mat-form-field>-->
<!--  <input  [min]="maxDay" disabled matInput [matDatepicker]="picker" placeholder="Choose a date">-->
<!--  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--  <mat-datepicker #picker disabled="false"></mat-datepicker>-->
<!--</mat-form-field>-->
<!--<p>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Input disabled</mat-label>-->
<!--    <input [min]="maxDay" matInput [matDatepicker]="dp3" disabled>-->
<!--    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #dp3 disabled="false"></mat-datepicker>-->
<!--  </mat-form-field>-->
<!--</p>-->
<!--<app-menu></app-menu>-->
<div class="col-md-12"><router-outlet></router-outlet></div>

<!--ng g c Component/login &#45;&#45;module=app.module.ts-->
